.gameWrapper {
  padding: 20px;
}
.game {
  border: 2px solid rgb(97, 160, 202);
  display: grid;
  width: 100%;
  /* grid-row: 2 / 3; */
  /* grid-column: 2 / 3; */
  /* grid-auto-rows: 100px; */

  grid-template-columns: repeat(10,90px);
  grid-template-rows: repeat(6,90px);
  grid-gap: 1rem;

  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}